<template>
    <div class="container">
        <div id="result-tab" class="row">
            <div id="loader"></div>
            <div id="warning" class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong> The response is empty.
            </div>
            <div class="col-md-6">
                <SearchForm  @inputData="getHouses"/>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Bedrooms</th>
                    <th>Bathrooms</th>
                    <th>Storeys</th>
                    <th>Garages</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="house, index in HousesList">
                    <td>{{ house.name }}</td>
                    <td>{{ house.price }}</td>
                    <td>{{ house.bedrooms }}</td>
                    <td>{{ house.bathrooms }}</td>
                    <td>{{ house.storeys }}</td>
                    <td>{{ house.garages }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
    import SearchForm from "./SearchForm";

    export default {
        components: {
            SearchForm
        },
        data: function() {
            return {
                HousesList: []
            };
        },
        methods: {
            getHouses(data) {
                const app = this;
                const x = document.getElementById("loader");
                const y = document.getElementById("warning");
                x.style.display = "block";
                axios.post('/houses', data)
                    .then(function (resp) {
                        x.style.display = "none";
                        app.HousesList = resp.data;
                        if (app.HousesList.length == 0) {
                            y.style.display = "block";
                        }
                        console.log(resp.data);
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("ERROR!! Bad query. Could not search your house");
                    });
            }
        }
    };
</script>
<style>
    #result-tab {
        position: relative;
    }
    #loader,
    #warning {
        display: none;
        position: absolute;
        top: 44%;
        left: 33%;
        height: 57px;
        width: 32%;
        z-index: 9999999;
    }
    #loader {
        display: none;
        background: url('../../images/giphy.gif') no-repeat center center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 9999999;
    }
</style>
