<template>
    <form @submit.prevent="searchForm">
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" v-model="searchData.name">
        </div>
        <div class="form-group">
            <label for="inputPriceStart">Price Start</label>
            <input type="number" class="form-control" id="inputPriceStart" v-model="searchData.pricestart">
        </div>
        <div class="form-group">
            <label for="inputPriceEnd">Price End</label>
            <input type="number" class="form-control" id="inputPriceEnd" v-model="searchData.pricend">
        </div>
        <div class="form-group">
            <label for="inputBedrooms">Bedrooms</label>
            <input type="number" class="form-control" id="inputBedrooms" v-model="searchData.bedrooms">
        </div>
        <div class="form-group">
            <label for="inputBathrooms">Bathrooms</label>
            <input type="number" class="form-control" id="inputBathrooms" v-model="searchData.bathrooms">
        </div>
        <div class="form-group">
            <label for="inputStoreys">Storeys</label>
            <input type="number" class="form-control" id="inputStoreys" v-model="searchData.storeys">
        </div>
        <div class="form-group">
            <label for="inputGarages">Garages</label>
            <input type="number" class="form-control" id="inputGarages" v-model="searchData.garages">
        </div>
        <div class="form-group">
            <button class="btn btn-success">Search</button>
        </div>
    </form>
</template>
<script>
    export default {
        data: function () {
            return {
                searchData: {
                    name: '',
                    pricestart: '',
                    pricend: '',
                    bedrooms: '',
                    bathrooms: '',
                    storeys: '',
                    garages: ''
                }
            }
        },
        methods: {
            searchForm() {
                const app = this;
                console.log(app.searchData);
                this.$emit("inputData", app.searchData);
            }
        }
    }
</script>
